<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/login.css">
    <title>tractorlogin1</title>
    <!-- Google fonts     -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bg-img">
        <form action="" class="container">
            <div class="container">
                <div class="register">
                    <div class="left-box">
                        <img src="../images/Trac_logo.png" alt="tractor image">
                    </div>
                    <div class="aside" id="page_info">
                        <div id="login">
                            <h3 class="h3_tag">Welcome to Tractor Links </h3>
                            <h5 class="h5_tag">Log into your account</h5>
                            <label for="text">Email/Phone Number</label> <br>
                            <input type="text" placeholder="name@example.com" id="email" required> <br>
                            <label for="text">Enter your Password</label> <br>
                            <input type="password" placeholder="**************" id="password" required>
                        </div>
                        <div class="login_btn">
                            <a href="home.html"><button type="button" id="login_btn">Login</button></a>
                        </div>
                        <div id="login_alternatives">
                            <p id="or">OR</p>
                            <span class="icon_google">
                                <a href="#" id="google">
                                    <img src="../images/google.png" alt="google icon" id="google-icon">
                                    <i class="link-google">Google</i>
                                </a>
                            </span>
                            <span class="icon_facebook">
                                 <a href="#" id="facebook">
                                    <img src="../images/logos_facebook.png" alt="facebok icon">
                                    <i class="link-facebook">Facebook</i>
                                </a>
                            </span>
                        </div>
                        <div class="signup">
                            <p>Don't Have an account? <a href="./RegisterForm.html">Sign up</a></p>
                        </div>
                    </div>
                </div>
        </form>
</body>

</html>